@import './functions';

.container {
  width: r(1140px);
  max-width: 100%;
  margin: 0 auto;
  display: block;
  @media (max-width: r(1180px)) {
    padding: 0 r(40px);
  }
  @media (max-width: r(700px)) {
    padding: 0 r(20px);
  }

  &.sm {
    width: r(980px);
  }
}
