@import '../Layout/common/colors';
@import '../Layout/common/breakpoints';
@import '../Layout/common/functions';

.CookieMessage-in {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px r(4px) r(16px);
  padding: 0;
  z-index: 99;
  & > div {
    padding: r(40px) r(20px);
    @media (max-width: $breakpoint-mobile) {
      padding: r(30px) r(20px);
    }
    & > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: $breakpoint-mobile) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }

  button {
    background: none;
    outline: 0;
    border: 0;
    color: $primaryTextColor;
    font-weight: 600;
    font-size: r(14px);
    cursor: pointer;
    @media (max-width: $breakpoint-mobile) {
      padding: r(10px) r(8px);
      margin-left: r(-8px);
    }
  }
}
