@import '../Layout/common/colors';
@import '../Layout/common/functions';

.Button {
  display: inline-block;
  border: 0;
  margin: 0;
  padding: 0;
  text-align: center;
  cursor: pointer;
  min-height: r(62px);
  min-width: r(184px);
  background-color: $primaryColor;
}
